APP_NAME="Smart Crowd Python ML Service"
APP_VERSION=1.0.0
ENVIRONMENT=development
SERVICE_NAME=python-ml
HOST=0.0.0.0
PORT=5000

RABBITMQ_URL=amqp://guest:guest@localhost:5672/
RABBITMQ_EXCHANGE=city_events
RABBITMQ_CROWD_QUEUE=crowd.new
RABBITMQ_INCIDENT_QUEUE=incident.new
RABBITMQ_ALERT_QUEUE=anomaly.alert

