PORT=3000
RABBITMQ_URL=amqp://iot_user:iot_secret@localhost:5672
RABBITMQ_EXCHANGE=city.events

MQTT_HOST=localhost
MQTT_PORT=1884
MQTT_PUBLIC_PORT=1884
MQTT_USERNAME=iot_device
MQTT_PASSWORD=iot_secret
